@import "tailwindcss";

@theme {
  --color-navy-deep: #001B3D;
  --color-navy-card: #002A5C;
  --color-navy-input: #00142D;
  --color-teal-accent: #2DD4BF;
}

:root {
  background-color: #001B3D;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Stunning Professional Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #001B3D;
}
::-webkit-scrollbar-thumb {
  background: #002A5C;
  border-radius: 10px;
  border: 2px solid #001B3D;
}